// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Roboto', sans-serif;
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.btn{
    display: flex;    
    width: 146px;
    height: 54px;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    background-color:$primary;
    border-radius: 50px;    
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    transition: 0.3s all ease;    
    &__hero{
        width: 170px;
        height: 54px;
        padding: 12px 0;    
    }
    &__portfolio{
        color: #fff;
        width: 214px;
        height: 54px;
        padding: 12px 0; 
        margin: 0 auto;
    }
    &__offer {
        background: #FFFFFF;
        border-radius: 50px;
        padding: 12px 0;
        color: $primary;
        &:hover{
            background-color: $primary;
            color: $primaryHoverWhite;
        }
    }
    &__form{
        background: #FFFFFF;
        border-radius: 50px;
        padding: 12px 0;
        margin: 0 auto;
    }
    &:hover{
        background-color: $primaryHover;
    }
}
.suptitle{
    display: block;
    margin: 0 auto;
    text-align:center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #494949;
}
.title{
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: $primary;
    display: block;
    margin: 0 auto;
    text-align:center;
}
a{
    color: #000000;
}